* {
    border: 0;
    padding: 0;
     margin: 2px; 

}

.navbar {
    background-color: #806494;
   
}

.container-fluid .navbar-brand img {
    width: 75px;
    height: 75px;
}

.container-fluid .collapse .search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container-fluid .collapse .search input[type="text"] {
    width: 38%;
    background-color: #806494;
    border-radius: 20px;
    text-align: center;
}

.container-fluid .collapse .search button {
    width: 25%;
    background-color: transparent;

}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.title button {
    background-color: rgb(243, 231, 255);
    width: 85px;
    height: 28px;
    border-radius: 15px;
}

.title p {
    font-size: 10px;
}

.sobre {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sobre h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold
}

.sobre h4 {
    font-size: 18px;
}

.sobre p {
    font-size: 14px;
}

/* background-color: #d397e7;
#806494 */