* {
    border: 0;
    padding: 0;
    margin: 2px;
}

:root {
    --cor-primaria: #806494;
    --cor-segundaria: #d397e7;
    --cor-terciaria: rgb(243, 231, 255);
    --cor-quarta: #795EA4;
}

.main{
    min-width: 360px;  
    max-width: 852px; 
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-primaria);

}

.navbar {
    background-color: var(--cor-quarta);
    max-width: 852px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-fluid .navbar-brand img {
    width: 80px;
    height: 80px;
}

.container-fluid .collapse .search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.container-fluid .collapse .search input[type="text"] {
    width: 38%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.container-fluid .collapse .search button {
    width: 25%;
    background-color: transparent;

}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
     display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.title img {
    max-width: 860px;
    min-width: 342px;
   
   
}

.title h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.title button {
    background-color: var(--cor-terciaria);
    width: 85px;
    height: 28px;
    border-radius: 15px;

}

/* .title button: :hover {
    background-color:  var(--cor-primaria);
} */

.title p {
    font-size: 10px;
}

.sobre {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sobre h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold
}

.sobre h4 {
    font-size: 18px;
}

.sobre p {
    font-size: 14px;
}

.sobre .hitory img {
    width: 110px;
    height: 110px;

}

/* background-color: ;
#806494 */